/* ================================ Base ================================ */

.btn {
  color: $black100;
  background-color: transparent;
  border: 1px solid $black100;
  border-radius: 0;
  outline: none;
  transition-duration: 0, 3s;
  transition: background 400ms;

  @include Uppercase_S14_W-400;

  &:hover {
    color: $white100;
    background-color: $black100;

    border-color: $black100;

    path {
      fill: $white100;
    }
  }

  &:focus,
  &:active {
    color: $white100;
    background-color: rgba(31, 31, 31, .6);

    border-color: $black100;
  }

  &:disabled {
    color: $black100;
    background-color: transparent;
    border-color: $black100;
  }
}

.btnLang {
  color: $white100;
  background-color: $black100;
  border-radius: 0;
  transition-duration: .3s;
  transition: background 400ms;

  &:hover {
    color: $white100;
    background-color: rgba(31, 31, 31, .6);
    border-color: rgba(31, 31, 31, .6);
  }
}

.m-popupBackCall {
  
  .formInput {
    background-color: $gray10;
  }
}

.ripple-container{
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  overflow: hidden;
}

.ripple-effect {
  margin-top: 0px;
  margin-left: 0px;
  width: 1px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.033);
  transition: all 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
  border-radius: 50%;
  pointer-events: none;
}

.ripple-effect.--light {
  background-color: rgba(255, 255, 255, 0.15);
}

.ripple-effect.--dark {
  background-color: rgba(0, 0, 0, 0.075);

}

@media (max-width: 1280px) {

  .btn {
    padding: 12px;
  }
}

@media (max-width: 450px) {

  .btn {
    @include Text_S12_W-400;
  }
}