/* ================================ Base ================================ */
.btn{
  background-color: transparent;
  border: 1px solid $black100;
  border-radius: 0;
  color: $black100;
  outline: none;
  outline-width: 0px !important;
  outline-color: none !important;
  transition-duration: 0.3s;
  text-transform: uppercase;
  @include Uppercase_S14_W-400;
  &:hover{
    background-color: $black100;
    color: $white100;
    border-color: $black100;
    path{
      fill: $white100;
    }
  }
  &:active{
    background-color: rgba(31, 31, 31, 0.6);;
    color: $white100;
    border-color: $black100;
  }
  &:disabled{
    background-color: transparent;
    color: $black100;
    border-color: $black100;
  }
}
.btnLang{
  background-color: $black100;
  color: $white100;
  border-radius: 0;
  transition-duration: 0.3s;
  &:hover{
    background-color: rgba(31, 31, 31, 0.6);
    color: $white100;
    border-color: rgba(31, 31, 31, 0.6);
  }
}
.socialsIcon{
  border:1px solid rgba(255, 255, 255, 0.6);
  &:hover{
    background-color: $white100;
    path{
      fill:$primary500;
    }
  }
}
