/* ================================ Base ================================ */

.btn {
  color: $black100;
  background-color: transparent;
  border: 1px solid $black100;
  border-radius: 0;
  outline: none;
  transition: background 400ms;
  transition-duration: 0, 3s;

  @include Uppercase_S14_W-400;

  
  &:hover {
    color: $white100;
    background-color: $black100;

    border-color: $black100;

    path {
      fill: $white100;
    }
  }

  &:focus,
  &:active {
    color: $white100;
    background-color: rgba(31, 31, 31, .6);

    border-color: $black100;
  }

  &:disabled {
    color: $black100;
    background-color: transparent;
    border-color: $black100;
  }
  
  span{
    transition-duration: .3s;
  }

  svg:hover {

    path {
      fill: #ffffff;
    }
  }
}

.btnLang {
  color: $white100;
  background-color: $black100;
  border-radius: 0;
  transition: background 400ms;
  transition-duration: .3s;

  &:hover {
    color: $white100;
    background-color: rgba(31, 31, 31, .6);
    border-color: rgba(31, 31, 31, .6);
  }
}

.m-popupBackCall {
  
  .formInput {
    
    background-color: $gray10;

    &:focus{
      color: $black100;
      border: 1px solid $black60;
    }
  }
}

.ripple-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  
}

.ripple-effect {
  width: 1px;
  height: 1px;
  margin-top: 0px;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, .033);
  border-radius: 50%;
  transition: all .4s cubic-bezier(.4, .0, .2, 1);
  pointer-events: none;
}

.ripple-effect.--light {
  background-color: rgba(255, 255, 255, .15);
}

.ripple-effect.--dark {
  background-color: rgba(0, 0, 0, .075);

}

@media (max-width: 1280px) {

  .btn {
    padding: 12px;
  }
}

@media (max-width: 450px) {

  .btn {
    @include Text_S12_W-400;
  }
}