/* ================================ Media ================================ */
@media(min-width:1280px) {
  .a-mobileNav{
    display: none;
  }

}
@media(max-width:1540px){
  .o-navBar{
    .a-item {
      display: inline;
      margin-right: 5px;
    }
  } 
}
@media (max-width:1280px){
  .header{
    padding-top: 18px;
  }
  .a-btnLang.absolute{
    display: none;
  }
  .a-headerButtonPhone {
    padding: 11.5px;
  }
  .a-headerButton {
    padding: 10px 32px;
  }
  .socialsIcon{
    padding: 12px;
    width: 56px;
    height: 56px;
    path{
      width: 23px;
    }
  }
  .m-col-1{
    display: none;
    background-color: $white100;
    width: 100%;
  }
  .m-col-3{
    .a-linkBox, .a-item:nth-child(3){
      display: none;
    }
  }
  .o-navBar{
    display: flex;
    justify-content: space-between;
  }
  
  .o-navBar{
    .a-navBarSearchMob , .btnLang{
      display: block;
    }
    .btnLang{
      position: relative;
      float: left;
      left: 0px;
      padding: 2px 10px;
      color: $black60;
      background-color: transparent;
      // margin-left: 34px;
      padding: 0;
      border: none;
      &:hover{
        border: none;
      }
    }
    .a-navBarSearchMob{
      margin: 0 32px;
    }
    .menuToggle {
      margin: 0;
    }
  }

 
  .menuToggle{  
    display: block;
    margin-right: 38px;
  }
.m-navMobile{
  display: flex;
}
.a-mobileNav{
  display: flex;
  flex-direction: row;
  padding: 40px 0px 28px;
  text-transform: uppercase;
  width: 95vw;
  background: white;
  position:absolute;
  ol{
    display: flex;
    
    .a-item{
  
    }
  }
}
.m-mobileNav{
  padding: 0px 40px 18px;
  text-transform: uppercase;
  width: 100%;;
  .active{
    color: $primary500;
  }
  .a-item{
    display: inline;
    margin-right: 20px;
  }
  .a-item:last-child{
    margin-right: 0;
  }
}

.a-h1{
  text-align: center;
  @include Heading_H2_W-400;
  margin-bottom: 24px;
}
.footer{
  padding: 88px 59px;
}
.o-footerTop{
  justify-content: flex-end;
}
}
@media (max-width:1100px){
  .a-mobileNav{
    .a-item{
      margin-right: 10px;
    }
    .a-link{
      @include Uppercase_S14_W-400;
    }
  }

  .a-h1{
    text-align: center;
    @include Heading_H3_W-400;
  }
  .swiper-button-prev, .swiper-button-next{
    &::after{display: none;}
  }
  .footer{
    padding:96px 56px;
  }
  .o-footerTop, .m-row{
    display: flex;
    flex-direction: column;
  }
  .o-footerTop{
     .a-item{
       margin-right: 73px;
     }
     .a-item:last-child{
      margin-right: 0;
    }
  }
  .m-logo{
    img{
      width: 289px;
      height: 224px;
    }
  }
  .m-contactAdress{
  align-items: center;
  }
  .m-contactAdress{
  margin-bottom: 64px;
  }
  .m-nav {
    margin: 92px;
  }
  .m-row{
    .a-item:nth-child(2){
      margin: 16px 0 43px;
    }
  }
}
@media (max-width:800px) {
  .o-navBar{
    padding: 8px 22px;
   
  }
  .a-mobileNav{
    width: 95vw;
    height: 100vh;
    z-index: 3;
    .a-item{
      // @include Heading_H3_W-400;
      margin-bottom: 47px;
    }
    .a-item:last-child{
      margin-bottom: 0;
    }
    .a-link{
      @include Heading_H3_W-400;
    }
    li{
      // list-style-type: decimal;  
      list-style: decimal;
    }
    ol{
      display: flex;
      flex-direction: column;
      list-style-type: decimal-leading-zero;
    }
  }
  .menuToggle.hide {
    margin-right: 0;
    display: none;
    // margin-bottom: 60px;
  }
  .m-mobileNav{
    padding: 0;
  }
  .a-mobileNav{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 28px 54px 49px;
      .a-link{
        @include Heading_H5_W-400;
        margin-bottom: 47px;
      }
  }
  
  .a-headerButtonPhone{
    display: none;
  }
  .o-navBar{
    .a-navBarSearchMob{
      display: none;
    }
  }
 .btnLang{
  margin-left: 34px;
 }
  .m-col-3 .a-item:last-child {
     margin-left: 0px;
}
  header.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    img{
      width: 84px;
    }
    div{
      display: flex;
    }
    .a-headerButtonPhone{
      display: block;
      padding: 0;
      margin-left: 46px;
      svg{
        fill: #000;
        width: 25px;
      }
  
    }
    .a-link{
      margin: 0;
    }
    .a-phoneNumber{
      
    }
  }
  footer.mobile{
    display: block;
    padding-top: 93px;
    margin: 0;
    .a-phoneNumber{
      display: flex;
      justify-content: flex-end;
      @include Heading_H5_W-400;
    }
    hr{
      border-top: 1px solid  #2D2926;
      margin: 38px 0 26px;
      opacity: 0.5;
    }
    .socialsIcon{
      padding: 0;
      border:none;
      
      path{
        fill:#2D2926;
        opacity: 0.5;
      }
      &:hover{
        path{
          transition-duration: 0.3s;
          opacity: 1;
        }
      }
    }
    .copyright{
      @include Text_S14_W-400;
      color: $black100;
      opacity: 0.5;
      margin-top: 24px;
    }
  }
  .footer{
    padding: 88px 48px;
  }
  .o-footerTop{
    justify-content: center;
  }
  .m-nav{
    margin: 80px 0 116px;
  }
  .listTop, .listBottom{
    flex-direction: column;
      .a-item{
        margin-right: 0;
      }
  }
  .listTop{
    .a-item{
      margin-bottom: 40px;
    }
    .a-item:last-child{
      margin-bottom: 0px;
    }
  }
  .listBottom{
    .a-item{
      margin-bottom: 24px;
    }
    .a-item:last-child{
      margin-bottom: 0px;
    }
  }
  .m-contactAdress{
    align-items: center;
  }


  .m-logo{
    img{
      width: 153px;
      height: 114px;
    }
  }
}
@media (max-width:580px){
.footer{
  padding: 88px 10px;
}
.a-h1{
  text-align: center;
  @include Heading_H5_W-400;
}
.socialsIcon{
svg{
  width: 23px;
  height: 23px;
}
}
.a-headerButton {
  padding: 10px 24px;
}
}
@media (max-width:450px){
  header.mobile{
    svg{
      width: 15px;
    }
    .a-headerButtonPhone{
      svg{
        width: 15px;
      }
    }
  }
  .a-navBarSearchMob, .a-headerButton, .a-btnLang{
    display: none;
  }
  .o-navBar{
    .a-btnLang {
      display: none;
    }
  }
 .swiper{
   height: 495px; //сделать нормальную адаптинвность!!
 }
}