/* ================================ Media ================================ */

@media (min-width: 450px) {

  .a-btnLang.mobile{
    display: none;
    
  }
}

@media(min-width: 1280px) {

  .a-mobileNav {
    display: none;
  }
}

@media (min-width: 1920px) {  

  .o-navBar{
    padding: 19px 108px;
  }

  .a-btnLang.absolute{
    right: 108px;
  }
}

@media (max-width: 1560px) {

  .m-popupBackCall {
    padding: 56px 40px;
  }

  .a-btnLang.absolute {
    display: none;
  }

  .a-headerButtonPhone {
    padding: 10.5px;
  }

  .a-headerButton {
    padding: 10px 32px;
  }

  .socialsIcon {
    width: 56px;
    height: 56px;
    padding: 12px;

    path {
      width: 23px;
    }
  }

  .m-col-1 {
    display: none;
    width: 100%;
    background-color: $white100;
  }

  .m-col-3 {

    .a-item {
      margin: 0;
    }

    .a-linkBox,
    .a-item:nth-child(3) {
      display: none;

    }
  }

  .o-navBar {
    display: flex;
    justify-content: space-between;
    padding: 8px 56px;

    .a-navBarSearchMob,
    .btnLang {
      display: block;
    }

    .btnLang {
      position: relative;
      left: 0px;
      float: left;
      padding: 2px 10px;
      padding: 0;
      color: $black60;
      background-color: transparent;
      // margin-left: 34px;

      border: none;

      &:hover {
        border: none;
      }
    }

    .a-navBarSearchMob {
      margin: 0 32px;
    }

    .menuToggle {
      display: block;
      margin: 0;
    }
  }

  .m-navMobile {
    display: flex;
  }

  .a-mobileNav {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 40px 40px 28px;
    background: $white100;
    text-transform: uppercase;

    ol {
      display: flex;
    }

    .menuToggle {
      margin-right: 38px;
    }
  }

  .m-mobileNav {

    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }

    .a-link.active {
      color: $primary500;
    }

    .a-item {
      display: inline;
      margin-right: 20px;
    }

    .a-item:last-child {
      margin-right: 0;
    }

    .a-link {
      color: $black100;

      &:hover {
        color: $primary500;
      }
    }

    .a-phoneNumber {
      color: $black100;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .a-h1 {
    margin-bottom: 24px;
    text-align: center;
    @include Heading_H2_W-400;
  }

  .footer {
    padding: 88px 59px;
  }

}

@media (max-width: 1355px) {

  .o-footerTop {
    justify-content: flex-end;
  }

  .m-logo {
    margin-right: 54px;
  }

  .m-contactAdress{
    margin-right: 50px;
  }
}

@media (max-width: 1100px) {

  .a-mobileNav {
    padding: 40px 24px 28px;
    
    .a-item {
      margin-right: 10px;
    }

    .a-link {
      @include Uppercase_S14_W-400;
    }
  }

  .a-h1 {
    text-align: center;
    @include Heading_H3_W-400;
  }

  .swiper-button-prev,
  .swiper-button-next {

    &::after {
      display: none;
    }
  }

  .footer {
    padding: 96px 56px;
  }

  .o-footerTop,
  .m-row {
    display: flex;
    flex-direction: column;
  }

  .o-footerTop {

    .a-item {
      margin-right: 73px;
    }

    .a-item:last-child {
      margin-right: 0;
    }
  }

  .m-logo {
    margin: 0;

    img {
      width: 289px;
      height: 224px;
    }
  }

  .m-contactAdress {
    align-items: center;
    margin-bottom: 64px;
  }

  .m-nav {
    margin: 92px;
  }

  .m-row {

    .a-item:nth-child(2) {
      margin: 16px 0 43px;
    }
  }

  .m-contactAdress{
    margin-right: 0px;
  }
}

@media (max-width: 800px) {

 
.m-serchPopup{
  // &::after {
  //   content: '';
  //   background: #000;
  //   position: fixed; 
  //   left: 0;
  //   top: 0;
  //   width: 100%; 
  //   height: 100%;
  //   opacity: 0.7;
  // }
}

  .o-navBar{
      
    .menuToggle {
      margin-right: 34px;
    }
  }

  .m-popupBackCall {
    width: 100vw;
    padding: 56px 54px;
  }

  ol {

    li {
      list-style: decimal;
    }
  }

  .o-navBar {
    padding: 8px 22px;

    .a-navBarSearchMob {
      display: none;
    }
  }

  .a-searchInput {
    @include Heading_H4_W-400;
  }

  .listTop {

    .a-link {
      @include Uppercase_S24_W-400;
    }

  }

  .listBottom {

    .a-link {
      @include Text_S18_W-400;
    }

    .a-item {
      margin-bottom: 24px;
    }

    .a-item:last-child {
      margin-bottom: 0px;
    }
  }

  .m-contactAdress {
    align-items: center;
  }

  .listTop,
  .listBottom {
    flex-direction: column;

    .a-item {
      margin-right: 0;
    }
  }

  .listTop {

    .a-item {
      margin-bottom: 40px;
    }

    .a-item:last-child {
      margin-bottom: 0px;
    }
  }

  .a-mobileNav {
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    height: auto;
    padding: 28px 20px;

    .a-link {
      margin-bottom: 47px;
      @include Heading_H3_W-400;
      font-family: Forum;
    }

    .a-item {
      margin-bottom: 47px;
    }

    .a-item:last-child {
      margin-bottom: 0;
    }

    li {
      list-style: decimal;
    }

    ol {
      display: flex;
      flex-direction: column;
      list-style-type: decimal-leading-zero;
    }
  }

  .menuToggle.hide {
    display: none;
    margin-right: 0;
  }

  .m-mobileNav {
    padding: 0;
  }

  .a-headerButtonPhone {
    display: none;
  }

  .m-col-3 .a-item:last-child {
    margin-left: 0px;
  }

  .o-headerMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    img {
      width: 84px;
    }

    div {
      display: flex;
      align-items: center;
    }

    .a-headerButtonPhone {
      display: block;
      margin-left: 46px;
      padding: 0;

      svg {
        width: 25px;
        fill: #000000;
      }
    }

    .a-link {
      margin: 0;
    }
  }

  .o-footerMobile {
    display: block;
    margin: 0;
    padding-top: 93px;

    .a-phoneNumber {
      display: flex;
      justify-content: flex-end;
      font-family: Forum;
      @include Heading_H5_W-400;
    }

    hr {
      margin: 38px 0 26px;
      border-top: 1px solid #2d2926;
      opacity: .5;
    }

    .socialsIcon {
      padding: 0;
      border: none;

      path {
        fill: #2d2926;
        opacity: .5;
      }

      &:hover {

        path {
          opacity: 1;
          transition-duration: .3s;
        }
      }

    }

    .a-copyright {
      @include Text_S14_W-400;
      margin-top: 24px;
      color: $black100;
      opacity: .5;
    }

    .m-mobileFooterBottom {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer {
    padding: 88px 48px;
  }

  .o-footerTop {
    justify-content: center;
  }

  .m-nav {
    margin: 80px 0 116px;
  }
}

@media (max-width: 580px) {

  .m-popupBackCall {
    padding: 56px 54px;
  }

  .o-navBar {

    .a-item {
      margin: 0;
    }
  }

  .footer {
    padding: 88px 10px;
  }

  .a-h1 {
    text-align: center;
    @include Heading_H5_W-400;
  }

  .socialsIcon {

    svg {
      width: 23px;
      height: 23px;
    }
  }

  .a-headerButton {
    padding: 10px 24px;
  }
}

@media (max-width: 450px) {

  .a-btnLang.adaptive{
    display: none;
  }

  .a-btnLang.mobile{
    display: block;
    color: $black60;
  }

  .m-popupBackCall {
    padding: 32px 22px;

    .a-h3 {
      @include Heading_H5_W-400;
      margin-bottom: 14px;
    }

    .a-description.top,
    .a-description.bottom {
      @include Text_S14_W-400;
      margin-bottom: 24px;
    }

    .a-input.PhoneNumber {
      margin-bottom: 20px;
    }

    .a-btn.CallBack {
      margin-bottom: 40px;
    }
  }

  .footer {
    .listTop {
      .a-link {
        @include Uppercase_S14_W-400;
      }
    }

    .listBottom {
      .a-link {
        @include Text_S14_W-400;
      }
    }

    .a-linkEmail {
      @include Text_S16_W-600;
    }

    .a-linkAdress {
      @include Text_S14_W-400;
    }

    .a-phoneNumber{
      @include Heading_H5_W-400;
    }

    .m-row{

      .a-item{
        @include Text_S14_W-400;
      }
      
    }
  }


  .a-mobileNav {

    .a-link {
      @include Heading_H5_W-400;
    }
  }

  .a-mobileNav {
    padding: 25px 24px;
  }


  .menuToggle.icon {
    margin-right: 0;
  }

  .m-col-3 {
    display: none;
  }

  .m-logo {

    img {
      width: 100%;
      max-width: 153px;
      height: auto;
      max-height: 114px;
    }
  }

  .o-headerMobile {

    svg {
      width: 15px;
    }

    .a-headerButtonPhone {

      svg {
        width: 15px;
      }
    }
  }

  .o-footerMobile {

    .m-mobileFooterBottom {
      flex-direction: column;
    }
  }

  .a-searchInput {
    @include Heading_H6_W-400;
    font-family: Forum, sans-serif;

    &::placeholder {
      font-family: Forum, sans-serif;
    }
  }

  .a-navBarSearchMob,
  .a-headerButton {
    display: none;
  }

  .swiper {
    height: 495px; //сделать нормальную адаптинвность!!
  }
}