/* ================================ Styles ================================ */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap');
@mixin Heading_H1_W-400 {
  font-size: 70px;
  font-weight: 400;
  line-height: 1.2;
}
@mixin Heading_H2_W-400 {
  font-size: 54px;
  font-weight: 400;
  line-height: 1.18;
}
@mixin Heading_H3_W-400 {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.16;
}
@mixin Heading_H4_W-400 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}
@mixin Heading_H5_W-400 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.24;
}
@mixin Heading_H6_W-400 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.16;
}

@mixin Text_S18_W-400 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.36;
}
@mixin Text_S16_W-400 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.28;
}
@mixin Text_S14_W-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
@mixin Text_S12_W-400 {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}
@mixin Text_S18_W-600 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.36;
}
@mixin Text_S16_W-600 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.28;
}
@mixin Text_S12_W-600 {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.36;
}

@mixin Uppercase_S24_W-400 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
@mixin Uppercase_S16_W-400 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
@mixin Uppercase_S14_W-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.46;
  text-transform: uppercase;
}
@mixin Uppercase_S24_W-400 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

@mixin Underline_S18_W-400 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.36;
  text-decoration: underline;
}
@mixin Underline_S16_W-400 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.28;
  text-decoration: underline;
}
@mixin Underline_S14_W-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-decoration: underline;
}
//Ungrouped colors
$errorColor:#EC4343;
//Monochrome
$black100:#2D2926;
$black60:#1f1f1f99;
$white100:#fff;
$white60:#ffffff99;
$white20:#ffffff33;
$gray10:#f6f6f6;
//Primary
$primary500:#83724C;
$primary200:#C7AA6A;