doctype html
html(lang='ru')
  include modules/_head
  
  body
  
    include modules/_header
    section.section 
      h2 main content
      button.btn.--ripple.--light 123123123
    include modules/_footer