doctype html
html(lang='ru')
  include modules/_head
  
  body
  
    include modules/_header
    .swiper
      .swiper-wrapper
        .swiper-slide(style="background-image: url('assets/images/Background-header.png')")
          div.a-h1 Спа комплекс
          span.a-description Учитывая ключевые сценарии поведения, постоянное информационно-пропагандистское обеспечение нашей деятельности способствует повышению качества вывода текущих активов. 
        .swiper-slide(style="background-image: url('assets/images/Background-header2.png')")
          div.a-h1 Уютные номера
          span.a-description Учитывая ключевые сценарии поведения, постоянное информационно-пропагандистское обеспечение нашей деятельности способствует повышению качества вывода текущих активов. 
        .swiper-slide(style="background-image: url('assets/images/Background-header3.png')")
          div.a-h1 Краисвый вид
          span.a-description Учитывая ключевые сценарии поведения, постоянное информационно-пропагандистское обеспечение нашей деятельности способствует повышению качества вывода текущих активов. 
        .swiper-slide(style="background-image: url('assets/images/Background-header4.png')")
          div.a-h1 Высокое качество
          span.a-description Учитывая ключевые сценарии поведения, постоянное информационно-пропагандистское обеспечение нашей деятельности способствует повышению качества вывода текущих активов. 
      
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next

    .swiper-scrollbar
    section.section 
      h2 main content
    include modules/_footer