footer.footer
  .m-logo
    a.a-link(href="#")
        img(src="assets/images/logo.svg", alt="logo")
  .m-nav
    ul.list
      li.a-item Номера
      li.a-item Рестораны
      li.a-item Конференц-зал
      li.a-item Спа-комплекс
    ul.list
      li.a-item О нас
      li.a-item Специальные предложения
      li.a-item Контакты
  .m-contactAdress
    .a-email info@villacastalia.com
    .a-adress г. Краснодар, ул. Кубанская Набережная, 44
  .m-contacts
    .a-phoneNumber 8 (861) 279-58-78
    .a-socisls