footer.footer
  div.o-footerTop
    .m-logo
      a.a-link(href="#")
          img(src="assets/images/logo.svg", alt="logo")
    .m-nav
      ul.list.listTop
        li.a-item
          a.a-link.active(href="#") Номера
        li.a-item 
          a.a-link(href="#") Рестораны
        li.a-item
          a.a-link(href="#") Конференц-зал
        li.a-item
          a.a-link(href="#") Спа-комплекс
      .hrTop <hr>
      ul.list.listBottom
        li.a-item
          a.a-link(href="#") О нас
        li.a-item
          a.a-link(href="#") Специальные предложения
        li.a-item
          a.a-link(href="#") Контакты
    .m-contactAdress
      a.a-link.a-linkEmail(href="#") info@villacastalia.com
      p.a-linkAdress г. Краснодар, ул. Кубанская Набережная, 44
    .m-contacts
      a.a-link.a-phoneNumber(href="#") 8 (861) 279-58-78
      span.a-link
        span.socials
          a.socialsIcon(href="#")
             <svg width="26.67" height="18" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.5407 0.812571C19.679 0.344571 19.5407 0 18.8782 0H16.6908C16.1342 0 15.8775 0.297429 15.7384 0.625714C15.7384 0.625714 14.6259 3.36514 13.0502 5.14457C12.5402 5.66057 12.3086 5.82429 12.0302 5.82429C11.8911 5.82429 11.6819 5.66057 11.6819 5.19171V0.812571C11.6819 0.250286 11.5286 0 11.0653 0H7.62546C7.27797 0 7.06882 0.260571 7.06882 0.508286C7.06882 1.04057 7.85711 1.164 7.93794 2.66229V5.91771C7.93794 6.63171 7.81045 6.76114 7.53213 6.76114C6.7905 6.76114 4.98642 4.00886 3.91564 0.859714C3.70815 0.246857 3.49816 0 2.93902 0H0.749963C0.124994 0 0 0.297429 0 0.625714C0 1.21029 0.74163 4.11429 3.454 7.95514C5.26224 10.578 7.80795 12 10.127 12C11.5178 12 11.6894 11.6846 11.6894 11.1403V9.15771C11.6894 8.526 11.8211 8.4 12.2619 8.4C12.5869 8.4 13.1427 8.56457 14.441 9.82886C15.9242 11.328 16.1684 12 17.0033 12H19.1907C19.8157 12 20.129 11.6846 19.949 11.0606C19.7507 10.44 19.0424 9.53914 18.1033 8.47029C17.5933 7.86171 16.8283 7.206 16.5958 6.87771C16.2717 6.45686 16.3642 6.26914 16.5958 5.89457C16.5958 5.89457 19.2624 2.10086 19.5399 0.812571H19.5407Z" fill="#2D2926"/></svg>
          a.socialsIcon(href="#")
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.49658 0H17.5034C21.0857 0 24 2.9143 24 6.49658V17.5035C24 21.0857 21.0857 24 17.5035 24H6.49658C2.9143 24 0 21.0857 0 17.5035V6.49658C0 2.9143 2.9143 0 6.49658 0ZM5.43768 12C5.43768 15.6185 8.38147 18.5623 12 18.5623C15.6185 18.5623 18.5623 15.6185 18.5623 12C18.5623 8.38147 15.6185 5.43768 12 5.43768C8.38147 5.43768 5.43768 8.38147 5.43768 12ZM16.7801 5.04621C16.7801 6.11554 17.6499 6.98529 18.7193 6.98529C19.7885 6.98529 20.6585 6.11554 20.6585 5.04621C20.6585 3.97687 19.7885 3.10694 18.7193 3.10694C17.6499 3.10694 16.7801 3.97687 16.7801 5.04621ZM9.00002 12C9.00002 10.3458 10.3459 9.00002 12 9.00002C13.6543 9.00002 15 10.3458 15 12C15 13.6541 13.6543 15 12 15C10.3459 15 9.00002 13.6541 9.00002 12Z" fill="white"/></svg>
          a.socialsIcon(href="#")
            <svg width="14" height="28" viewBox="0 0 14 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1647 0.672235L9.96668 0.666687C6.37377 0.666687 4.05187 3.24257 4.05187 7.22941V10.2553H0.836361C0.558502 10.2553 0.333496 10.4988 0.333496 10.7993V15.1834C0.333496 15.4839 0.558759 15.7272 0.836361 15.7272H4.05187V26.7896C4.05187 27.0902 4.27688 27.3334 4.55473 27.3334H8.75006C9.02792 27.3334 9.25291 27.0898 9.25291 26.7896V15.7272H13.0126C13.2905 15.7272 13.5155 15.4839 13.5155 15.1834L13.517 10.7993C13.517 10.655 13.4639 10.5169 13.3697 10.4148C13.2756 10.3127 13.1473 10.2553 13.0139 10.2553H9.25291V7.69021C9.25291 6.45734 9.52462 5.83148 11.0099 5.83148L13.1642 5.83064C13.4418 5.83064 13.6668 5.58707 13.6668 5.28689V1.21598C13.6668 0.916091 13.4421 0.67279 13.1647 0.672235Z" fill="white"/></svg>
          a.socialsIcon(href="#")
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.4937 7.48906C23.3885 6.37858 22.0722 5.49819 20.6217 4.89918C19.1713 4.30017 17.6155 3.99453 16.0452 4.00007C9.46509 4.00007 4.10246 9.33706 4.09643 15.889C4.09643 17.9875 4.64792 20.029 5.6891 21.8365L4 28L10.3345 26.347C12.0869 27.2964 14.0501 27.794 16.0452 27.7945H16.0512C22.6328 27.7945 27.994 22.4575 28 15.8995C28.0015 14.3366 27.6923 12.7888 27.0903 11.3454C26.4883 9.90191 25.6053 8.59131 24.4922 7.48906H24.4937ZM16.0452 25.7815C14.2657 25.7821 12.5189 25.3054 10.9884 24.4015L10.6268 24.1855L6.86891 25.1665L7.87242 21.517L7.63737 21.1405C6.6426 19.566 6.11649 17.7431 6.12004 15.883C6.12004 10.4441 10.5756 6.00707 16.0512 6.00707C17.3557 6.00474 18.6478 6.25948 19.8529 6.7566C21.058 7.25373 22.1523 7.9834 23.0728 8.90356C23.9965 9.82013 24.7288 10.9097 25.2274 12.1094C25.726 13.3091 25.9811 14.5952 25.9779 15.8935C25.9719 21.352 21.5163 25.7815 16.0452 25.7815ZM21.4922 18.3805C21.1954 18.232 19.7293 17.5135 19.4535 17.4115C19.1793 17.314 18.9789 17.263 18.783 17.56C18.5826 17.8555 18.01 18.529 17.8383 18.7225C17.6665 18.922 17.4887 18.9445 17.1904 18.7975C16.8935 18.6475 15.9307 18.3355 14.7916 17.32C13.9026 16.5325 13.3074 15.5575 13.1296 15.262C12.9578 14.965 13.113 14.806 13.2622 14.6575C13.3933 14.5255 13.559 14.3095 13.7082 14.1385C13.8589 13.9675 13.9086 13.8415 14.0065 13.6435C14.1045 13.4425 14.0578 13.2715 13.9839 13.123C13.9086 12.9745 13.3134 11.5091 13.0618 10.9181C12.8207 10.3346 12.5751 10.4156 12.3913 10.4081C12.2195 10.3976 12.0191 10.3976 11.8187 10.3976C11.6673 10.4013 11.5184 10.4361 11.3813 10.4999C11.2441 10.5637 11.1216 10.655 11.0216 10.7681C10.7474 11.0651 9.98041 11.7835 9.98041 13.249C9.98041 14.7145 11.0502 16.123 11.2009 16.3225C11.3486 16.522 13.3014 19.5205 16.2983 20.8105C17.0065 21.118 17.564 21.2995 17.9995 21.4375C18.7152 21.6655 19.3616 21.631 19.8769 21.5575C20.4495 21.4705 21.6414 20.8375 21.893 20.143C22.1401 19.447 22.1401 18.853 22.0648 18.7285C21.991 18.6025 21.7906 18.529 21.4922 18.3805Z" fill="white"/></svg>
  .hrBottom <hr>
  .o-footerBottom
    .m-row
      span.a-item &#169;2021 — Villa Castalia
      a.a-item(href="#") Политика конфиденциальности
      span.a-linkASTEQ Разработано <a href="#"><img src="assets/images/AsteqLogo.svg"  alt="logo"></a>
