head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  title Web Project
  meta(name='description' content='Web Project')
  meta(name='author' content='ASTEQ')
  meta(property='og:title' content='Web Project')
  meta(property='og:type' content='website')
  meta(property='og:url' content='write your link')
  meta(property='og:description' content='Web Project')
  link(rel="preconnect",  type="text/css", href="scss/_styles.scss")
  